
/* #ConteinerGuardar{
    background-color: red;
} */
#product-container{
   display: grid;
   grid-template-rows: repeat(4,1fr);;
   grid-template-columns: repeat(4,1fr);
    margin-top: 200px;
    gap: 30px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 4%;
    
}
/* CSS DE LOS CARD DE LOS PRODUCTOSDeInicio */

#cuerpo2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -10%;
}
#texto-del-producto{
    padding: 5px;
    background-color: rgba(149, 135, 135, 0.801);
    width: 80px;
    margin-left: 25px;
    margin-top: 10px;
   text-align: center;
   color: white;
   display: flex;
   align-items: center;
}


#nombre-del-productonNike{
    font-size: 4px;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top:2px;
   
}
#precio-del-productoNike{
    font-size: 20px;
    color: black;
    margin-top: -5px;
    
}

/* LOS DEMAS */

#nombre-del-producto{
    font-size: 4px;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top:7px;
   
}
#precio-del-producto{
    font-size: 20px;
    color: black;
    margin-top: -8px;
    
}



/* ----------------------------------------------- */
#Cuerpo{
    background-color: #3C3F5F;
    border: transparent;
    height: 300px;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    
}

#ConteinerGuardar{
   display: grid;
   grid-template-columns: 220px;
   gap: 10px;
   height: auto;
   


}
#Conteiner-de-texto-nuevo-y-menu-para-editar-y-borrar{
    display: flex;
    flex-direction: row;
    gap: 140px;
}


/*-------------CSS  DE EL MENU--------------------*/
#separacionDeLosBotones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -6px;
}

#Boton-borra-producto{
    width: 70px;
    border-radius: 10px;
    background-color: red;
}

#Boton-editar-producto{
    width: 70px;
    border-radius: 10px;
}

#input1{
   opacity: 1;
}




